@import "tailwindcss";

:root {
  --foreground: #fff;
  --primary: #f2b90d;
  --primary-light: #cbbc90;
  --background-light: #f8f8f5;
  --background-dark: #121212;
  --surface-dark: #221e10;
}

body {
  background: var(--background-dark);
  color: var(--foreground);
  font-family: Epilogue, Helvetica, sans-serif;
}

@media (max-width: 470px) {
  .search {
    display: none;
  }
}
